.tocify-subheader {
    font-style: normal;
    font-size: 90%;
}

.tocify ul {
    margin: 0;
 }

.tocify-focus, .tocify-hover.tocify-focus {
    color: rgb(37, 136, 194); 
    background-color: #a7d6ff;
}

.tocify-focus > a {
    color: #1d4b8f; 
    font-weight: bold;
}

.tocify-hover {
    background-color: #a7d6ff;
}

.tocify-header {
    padding-bottom: 2px
}

.tocify-item {
    padding: 3px;
}

body {
    font-family:'Lato', sans-serif
}

a {
    color: #666;
}

.tableblock tr:nth-child(even) {
    background-color: #FAFAFA
}

table thead, table tfoot {
    background: #ccd5e2;
}

.test {
    background-color: black;
}

    h2 {
      background: #5597bd;
      padding-left: 10px;
      font-weight: 400;
      font-size: 2.5em;
      margin-top: 50px;
    }
    h2>a.link {
      color: #FFF;
    }

    h3 {
      /*background: #ecf3fb;
      padding-left: 10px;*/
      font-weight: 400;
      font-size: 2.3em;
      margin-top: 50px;
      font-size: 2.3em;
    }

    h3>a.link {
      color: #333;
    }

    h4 {
      padding: 5px 0px 5px 10px;
      font-weight: 400;
      margin-top: 40px;
      background-color: #b8d6da;
      font-size: 1.7em;
    }

    h4>a.link {
      color: #47a29e;
      
    }

    h5 {
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
      margin-top: 30px;
      border-bottom: 1px dashed #CCC;
    }

    h5>a.link {
      color: #47a29e;
      
    }
